.App {
  text-align: center;
  color:blue;
  background-color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row{
  width: 130px;
  margin: auto;
  display: flex;
}
.carditem{
  flex-basis: 23%;
  margin: 1%;
  height: 200px;
  width: 200px;
  background-color: pink;
}